/* we can use here all scss vars from bulma.scss */

.is-animated {
  visibility: hidden;
}

.animated, .js-animated {
  visibility: visible !important;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  height: 120px;
  transition: .5s all;
  background-color: rgba($color: #fff, $alpha: 0.6);
}

.navbar-item img {
  max-height: 90%

}

.navbar.shrinked {
  height: 80px;
}

.has-special-typo {
  font-family: 'Hey November';
  font-weight: 300;
  font-size: 1.6em;
}

.headline-typo {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.hero-body .has-special-typo  {
  font-size: 8em;
}

.hero-body p {
  min-width: 400px;
  line-height: 1.2;
}


.benefits ul {
  list-style-type: disc;
}

.benefits ul li {
  padding: 5px 0 ;

  font-size: .8rem;
  transition: 0.4s;
}

.hidden {
  max-height: 0;

}

.show {
  max-height: 100%;
  padding: 5px 30px !important;
 
}

.panel 
{
  padding: 0px 30px;
overflow: hidden;
transition: max-height .6s ease-out;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 10px 40px 10px rgb(51 51 79 / 9%);
background-color: #fff;
border-radius: 10px;

}

.education .column{ 
  position: relative
}

.education .column hr.timeline {
  position: absolute;
  background-color: #ccc;
  width: 90%;
  top: 28%;
  left: 5%;
}

input {
  border-color: #ddd !important;
}

select {
  border-color: #ddd !important;
}

.education .step {
  max-width: 150px;
  min-height: 200px;
  text-align: center;
z-index: 1;
}

.info  img {
  max-width: 60%;
}

.education .step p {
  padding-top: 8px;
  font-size: 1em;
  font-weight: bold;
}

@media(max-width: 1020px) {
  .navbar > .container{
    max-height: 100% !important;
  }

  .navbar-brand, .navbar-tabs {
    max-height: 120px !important;
    transition: .5s;
  }

 .shrinked .navbar-brand, .navbar-tabs {
    max-height: 90px !important;
  }

}

@media (max-width: 770px) {
  .education .column  {
    flex-direction: column;
  }
  .education .column hr.timeline {
    position: absolute;
    background-color: #ccc;
    width: 100%;
    top: 45%;
    left: 0;
    transform: rotate(90deg);
  }


}